.cover {
    margin: 0 48px 92px;
    background-image: url(../../images/cover-trains.jpg);
    min-height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
}

.cover::after {
    content: "";
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease;
}

.cover:hover::after {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
        margin: 0 0 92px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
        margin: 0 0 88px;
    }
}

@media screen and (max-width: 360px) {
    .cover {
        min-height: 200px;
        margin: 0 0 64px;
    }
}